body {
  margin: 0;
  overflow-x: hidden;
}

/* Header */
header {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #0000003b;
}

header > nav {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  height: auto;
  padding: 5px;
  place-items: center;
}

nav.options {
  display: flex;
}

/* nav bar about us */
nav.about-us {
  background-color: #ececec;
}

.social-media > img {
  height: 20px;
  margin: 0px 3px;
}

nav.options > h4 {
  padding: 0px 15px;
  color: black;
  font-size: x-small;
  font-weight: lighter;
  font-family: Arial;

}

button {
  font-size: x-small;
  border-width: 1px;
  border-radius: 20px;
  color: white;
  padding: 7px 13px;
  margin: 3px 5px;
}

button.sign-up {
  background-color: #3d3d3d;
}

button.log-in {
  background-color: darkred;
  border-color: darkred;
}

nav.shop-options {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 18px;
  margin-right: 50px;
}

nav.options > h3 {
  padding: 10px 5px;
  color: darkred;
  font-size: small;
  font-weight: lighter;
  font-family: Arial;
}

/*banner */
div.banner {
  display: flex;
  height: 400px;
  width: 100%;
  background-image: url("../resources/images/banner.jpg");
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button.more-information {
  margin-left: 10%;
  margin-bottom: 3%;
  background-color: darkred;
  font-size: medium;
}

/* City filter */
div.filter {
  display: flex;
  background-color: #ececec;
  width: 100%;
  padding: 10px 0px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.filter > div {
  display: flex;
}

div.city-filter {
  padding-left: 9%;
  padding-right: 30px;
}
div.local-filter {
  padding-left: 9%;
  padding-right: 30px;
}

div.filter div h3 {
  color: grey;
  font-size: small;
  padding-right: 10px;
  font-weight: lighter;
  font-family: Arial;
}

div.filter div select {
  background-color: white;
  border-color: grey;
  padding: 0px 10px;
  border-radius: 20px;
  width: 200px;
}

/* movies */
h1 {
  width: 100%;
  padding-left: 9%;
  font-size: xx-large;
  color: #808080;
  font-weight: lighter;
  font-family: Arial;
}

/*movie-list */
div.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
  padding: 0px 10% 30px 10%;
}

div.movie-list div.poster-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #0000003b;
  flex-direction: column;
  margin: 20px;
}
div.movie-list div.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

div.movie-list div.poster-container button {
  border-radius: 10px;
  width: 100%;
  background-color: darkred;
  border-color: darkred;
  color: white;
  padding: 7px 13px;
  margin-top: 10px;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ececec;
  padding: 20px;
}

footer div {
  text-align: center;
  margin-bottom: 20px;
}

footer div h2 {
  color: grey;
  font-size: medium;
}

footer div h3 {
  color: #a1a1a1;
  font-size: smaller;
}

footer div.apps {
  display: flex;
  justify-content: center;
}

footer div.apps > img {
  height: 17px;
  margin: 0 10px;
}

/* Media Query para pantallas más pequeñas (ajusta según sea necesario) */
@media (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
  }
}
